@import "tailwindcss";
@import "@lil-el/markdown/css";
@config "../tailwind.config.js";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/MapleMono-Italic.woff2') format('woff2');
}

/*
TODO:
.my-element {
  background: white;
  @variant dark {
    background: black;
  }
} */

/* @utility card {
  @apply
} */

#app {
  @apply bg-white dark:bg-black;
}