* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/MapleMono-Italic.woff2') format('woff2');
}

[data-theme="dark"] {
  #app {
    background-color: #1e1e1e;
  }
}